$start_margin_bottom: 5vh;
$cell_width: 100px;

.homeContainer {
  display: grid;
  justify-items: center;
  text-align: center;
  margin-top: 10vh;

  .start {
    margin-bottom: $start_margin_bottom;
  }

  .restart {
    margin-top: $start_margin_bottom;
  }

  .winnerText {
    color: lightgreen;
  }

  .restartBtn {
    border: 1px solid dodgerblue;
    border-radius: 10px;
    background-color: skyblue;
    cursor: pointer;

    &--disabled {
      border-radius: 10px;
      border: 1px solid grey;
      background-color: unset;
    }

    &--reset {
      background-color: yellow;
      color: grey;
      border: 1px solid black;
      opacity: 0.8;
      cursor: unset;
    }
  }

  .boardContainer {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    justify-content: center;

    .playerX {
      color: indianred;
    }

    .playerO {
      color: lightskyblue;
    }

    .cell {
      border: 3px solid white;
      background-color: unset;
      font-size: 50px;
      width: $cell_width;
      height: $cell_width;

      &--0 {
        border-top: none;
        border-left: none;
      }

      &--1 {
        border-top: none;
      }

      &--2 {
        @extend .cell--1;
        border-right: none;
      }

      &--3 {
        border-left: none;
      }

      &--4 {
        @extend .cell;
      }

      &--5 {
        border-right: none;
      }

      &--6 {
        border-left: none;
        border-bottom: none;
      }

      &--7 {
        border-bottom: none;
      }

      &--8 {
        @extend .cell--7;
        border-right: none;
      }
    }
  }
}
