$start_margin_bottom: 5vh;
$cell_width: 100px;

.container {
    display: grid;
    justify-items: center;
    text-align: center;
    margin-top: 10vh;

    .start {
        margin-bottom: $start_margin_bottom;
    }

    .restart {
        margin-top: $start_margin_bottom;
    }

    .winnerText {
        color: lightgreen;
    }

    .restartBtn {
        border: 1px solid dodgerblue;
        border-radius: 10px;
        background-color: skyblue;
        cursor: pointer;
    }

    .restartBtnDisabled {
        border-radius: 10px;
    }

    .autoRestartBtn {
        @extend .restartBtn;
        background-color: yellow;
        color: grey;
        border: 1px solid black;
        opacity: 0.8;
    }

    .boardContainer {
        display: grid;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(3, auto);
        justify-content: center;


    
        .playerX {
            color: indianred;
        }
    
        .playerO {
            color: lightskyblue;
        }

        
        .cell {
            border: 3px solid white;
            background-color: unset;
            font-size: 50px;
            width: $cell_width;
            height: $cell_width;
        }

        .cell-0 {
            @extend .cell;
            border-top: none;
            border-left: none;
        }
        
        .cell-1 {
            @extend .cell;
            border-top: none;
        }
        
        .cell-2 {
            @extend .cell-1;
            border-right: none;
        }
        
        .cell-3 {
            @extend .cell;
            border-left: none;
        }
        
        .cell-4 {
            @extend .cell;
        }
        
        .cell-5 {
            @extend .cell;
            border-right: none;
        }
        
        .cell-6 {
            @extend .cell;
            border-left: none;
            border-bottom: none;
        }
        
        .cell-7 {
            @extend .cell;
            border-bottom: none;
        }
        
        .cell-8 {
            @extend .cell-7;
            border-right: none;
        }
    }

}
